<section id="quests" class="container">
    <h1>Quest Board</h1>

    {{#each quests}}
        <div class="quest">

        </div>
    {{else}}
        <p>We're fresh out of Quests...check back later..</p>
</section>